:root {
  --accent-color: #ff6c00;
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --main-text-color: #555555;
  /* --background-page-color: #ffffff; */
  /* --background-light-mode: #f4f4fd; */
  /* --pressed-btn-color: #404bbf; */
  /* --green-success-color: #31d0aa; */
  /* --subtle-text-color: #8e8f99;  */
  /* --modal-background-color: #FCFCFC; */
  /* --modal-close-black:#000000; */
  /* --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1) */
  /* --modal-overlay-color: #2e2f42; 40% */

  --basic-margin: 20px;
  --section-padding: 130px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: cadetblue;
  /* background-color: var(--background-page-color); */
}

/* Components */

.btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  color: #fff;
  background-color: inherit;

  min-width: 128px;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #ff6c00;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid yellow;
}

/* @media screen and (min-width: 480px) {
    .container{
      width: 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container{
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container{
      width: 1200px;
    }
  } */

/* .section {
    padding-top: 120px;
    padding-bottom: 120px;
  } */

/* .section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-text-color);
  } */

/* .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  } */

/* Dark and Light Lines */

/* .subtitle-light {
  display: flex;
  align-items: center;
}

.subtitle-light::before {
  margin-right: 20px;
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.subtitle-dark {
  display: flex;
  align-items: center;
}

.subtitle-dark::before {
  margin-right: 20px;
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--primary-text-color);
} */

/* ------Header------- */

.header {
  background-color: teal;
  padding: 32px 0;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 71px;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}
.header-link {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-tel {
  margin-left: auto;
  margin-right: 40px;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.header-btn {
  color: #fff;
}

/* ---------Hero section---------- */

.hero {
}

.hero-box {
  display: flex;
}

.hero-list {
  width: 100px;
}
.hero-item {
}
.hero-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: #ff6c00;
}

.hero-content {
  padding: 272px 100px 208px;
  flex-grow: 1;
  background-color: rgb(40, 40, 40);
}

.hero-subtitle {
  margin-bottom: var(--basic-margin);

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  margin-bottom: var(--basic-margin);

  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #fff;
}
.hero-desc {
  max-width: 486px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.hero-list-btn {
}
.hero-btn {
  text-align: right;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  cursor: pointer;

  color: #fff;
  background-color: inherit;
}

/* --------About section ----------*/
.about {
  background-color: teal;
  padding: var(--section-padding);
}

.about-box {
  display: flex;
  gap: 64px;
}

.about-list {
  display: flex;
  gap: 30px;
  /* width: calc((100% - 30px) / 2); */
}

/* .about-item {
  width: calc((100% - 30px) / 2);
  background: #555555;
} */

.about-text-box {
  max-width: 500px;
  /* width: 50%; */
}
.about-subtitle {
  margin-bottom: var(--basic-margin);

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.about-title {
  margin-bottom: var(--basic-margin);

  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

.about-text {
  margin-bottom: var(--basic-margin);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555;
}

.about-desc {
  margin-bottom: 40px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555;
}
.about-btn {
  color: #303030;
}

/* --------Services section ----------*/

.services {
  padding: var(--section-padding);
}

.services-subtitle {
  margin-bottom: var(--basic-margin);

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.services-title {
  margin-bottom: 44px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #fff;
}

.services-text-box {
  display: flex;

  margin-bottom: 50px;
}

.services-list {
  outline: 1px solid red;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 40px;
  width: 585px;
  /* flex-grow: 1; */
}

.services-item {
  display: flex;
  justify-content: space-between;
}

.services-item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-btn {
  display: block;
  margin: 0 auto;
  color: #fff;
}

/* --------Features section ----------*/

.features {
  padding: var(--section-padding);
  background-color: teal;
}

.features-content-box {
  display: flex;
  gap: 130px;
}

.features-list {
  width: 370px;
}

.features-item {
  display: flex;
  flex-direction: column;

  padding: 20px 24px;
  width: 170px;
}

.features-item > span {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}

.features-item-text {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  color: #303030;
}

.features-text-box {
  width: 500px;
}

.features-subtitle {
  margin-bottom: var(--basic-margin);

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.features-title {
  margin-bottom: var(--basic-margin);

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.05em;
  color: #303030;
}

.features-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* --------Team section ----------*/
.team {
  padding: var(--section-padding);
}
.team-subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;

  margin-bottom: var(--basic-margin);
}
.team-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #303030;

  margin-bottom: 44px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-item {
  width: calc((100% - 60px) / 3);
  text-align: center;
  border: 1px solid;
}

.team-item > img {
  margin-bottom: 30px;
}

.team-barber-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #303030;

  margin-bottom: 8px;
}
.team-barber-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #ff6c00;

  margin-bottom: 30px;
}
.team-barber-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* --------Portfolio section ----------*/
.portfolio {
  padding: var(--section-padding);
  background-color: teal;
}
.portfolio-subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;

  margin-bottom: 44px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item {
  width: calc((100% - 90px) / 4);
}

/* --------Contacts section ----------*/
.contacts {
  padding: var(--section-padding);
  background: rgb(95, 95, 95) 50% / cover no-repeat;
}

.contacts-box {
  display: flex;
  justify-content: center;
}

.contacts-form {
  background-color: #191c26;
  padding-left: auto;
}
.contacts-form-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #fff;

  margin-bottom: 44px;
}
.contacts-form-list {
  margin-bottom: 44px;
}
.contacts-form-item {
}
.contacts-form-btn {
  margin-bottom: 63px;
}

.contacts-address {
  padding-left: 100px;
}
.contacts-address-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #fff;

  margin-bottom: 40px;
}
.contacts-address-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 70px;
}
.contacts-address-item {
  display: flex;

  gap: 16px;
}

.contacts-address-item > img {
  margin: 6px;
}

.contacts-address-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-address-work {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;

  margin-bottom: 20px;
}
.contacts-address-hours {
  font-size: 18px;
  font-style: normal;
  font-style: 1.36;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -------- Footer ----------*/
.footer {
  padding: 56px 0;
  background-color: teal;
}

.footer-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
  display: flex;
  gap: 40px;
}
.footer-item {
}
.footer-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
