<section class="features section">
    <div class="container features-box">
        <ul class="features-list list">
        <li class="features-item">
            <span>600</span>
            <p class="features-item-text">Задоволених клієнтів на день</p>
        </li>
        <li class="features-item">
            <span>50</span>
            <p class="features-item-text">Нагород за відмінний сервіс</p>
        </li>
        <li class="features-item">
            <span>20</span>
            <p class="features-item-text">Найкращих майстрів міста</p>
        </li>
        <li class="features-item">
            <span>100</span>
            <p class="features-item-text">Подарунків постійним клієнтам</p>
        </li>
        </ul>
        <div class="features-text-box">
        <p class="features-subtitle subtitle">Стара традиційна школа</p>
        <h2 class="features-title title">Чому приходять саме до нас?</h2>
        <p class="features-text">
            Про нас говорять лише добре. Але краще 1 раз побачити та відчути,
            ніж 10 разів прочитати.
        </p>
        </div>
    </div>
    </section>