<header class="header">
    <div class="container header-box">
    <nav class="header-nav">
        <a href="/" class="header-logo">
        <img src="./img/logo.svg" alt="Logo" />
        </a>
        <ul class="header-list list">
        <li class="header-item">
            <a href="#" class="header-link link active">Про нас</a>
        </li>
        <li class="header-item">
            <a href="#" class="header-link link">Послуги і ціни</a>
        </li>
        <li class="header-item">
            <a href="#" class="header-link link">Майстри</a>
        </li>
        <li class="header-item">
            <a href="#contact" class="header-link link">Контакти</a>
        </li>
        </ul>
    </nav>
    <a href="tel:+380441111111" class="header-tel link"
        >+38 044 111 11 11</a
    >
    <button type="button" data-modal-open class="header-btn btn">
        онлайн-запис
    </button>
    </div>
</header>