<section class="hero">
    <div class="container hero-box">
        <ul class="hero-list list">
        <li class="hero-item">
            <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="hero-link link"
            >Instagram</a
            >
        </li>
        <li class="hero-item">
            <a
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="hero-link link"
            >Youtube</a
            >
        </li>
        </ul>
        <div class="hero-content">
        <p class="hero-subtitle subtitle">Чоловіча перукарня в Києві</p>
        <h1 class="hero-title title">BarberShop</h1>
        <p class="hero-desc">
            Ми експерти у модних чоловічих стрижках. Працюємо швидко, обережно
            та зі смаком.
        </p>
        <ul class="hero-list-btn list">
            <li><button type="button" class="hero-btn">Назад</button></li>
            <li><button type="button" class="hero-btn">Вперед</button></li>
        </ul>
        </div>
    </div>
    </section>