<section class="portfolio section">
    <div class="container">
        <p class="portfolio-subtitle subtitle">
        Латинською мовою "барба" означає "борода"
        </p>
        <h2 class="visually-hidden">Наше портфоліо</h2>
        <ul class="portfolio-list list">
        <li class="portfolio-item">
            <img
            src="./img/portfolio_1.jpg"
            alt="Photo"
            width="270"
            height="360"
            />
        </li>
        <li class="portfolio-item">
            <img
            src="./img/portfolio_2.jpg"
            alt="Photo"
            width="270"
            height="360"
            />
        </li>
        <li class="portfolio-item">
            <img
            src="./img/portfolio_3.jpg"
            alt="Photo"
            width="270"
            height="360"
            />
        </li>
        <li class="portfolio-item">
            <img
            src="./img/portfolio_4.jpg"
            alt="Photo"
            width="270"
            height="360"
            />
        </li>
        </ul>
    </div>
    </section>