<section class="services section">
    <div class="container">
        <p class="services-subtitle subtitle">
        Проведи час у компанії кращих майстрів
        </p>
        <h2 class="services-title title">Послуги і ціни</h2>
        <div class="services-text-box">
        <ul class="services-list list">
            <li class="services-item">
            <p class="services-item-text">Чоловіча стрижка</p>
            <p class="services-item-text">від 300 грн.</p>
            </li>
            <li class="services-item">
            <p class="services-item-text">Стрижка бороди</p>
            <p class="services-item-text">від 200 грн.</p>
            </li>
            <li class="services-item">
            <p class="services-item-text">Стрижка вусів</p>
            <p class="services-item-text">від 200 грн.</p>
            </li>
            <li class="services-item">
            <p class="services-item-text">Гоління небезпечною бритвою</p>
            <p class="services-item-text">від 200 грн.</p>
            </li>
        </ul>
        <ul class="services-list list">
            <li class="services-item">
            <p class="services-item-text">Cтрижка у стажера</p>
            <p class="services-item-text">від 50 грн.</p>
            </li>
            <li class="services-item">
            <p class="services-item-text">Стрижка під насадку</p>
            <p class="services-item-text">від 200 грн.</p>
            </li>
            <li class="services-item">
            <p class="services-item-text">Дитяча стрижка (до 12 років)</p>
            <p class="services-item-text">від 300 грн.</p>
            </li>
            <li class="services-item">
            <p class="services-item-text">Камуфлювання сивини</p>
            <p class="services-item-text">від 200 грн.</p>
            </li>
        </ul>
        </div>
        <button type="button" data-modal-open class="services-btn btn">
        онлайн-запис
        </button>
    </div>
    </section>