<section class="team section">
    <div class="container">
        <p class="team-subtitle subtitle">
        для справжніх поціновувачів атмосфери
        </p>
        <h2 class="team-title title">Наші майстри</h2>
        <ul class="team-list list">
        <li class="team-item">
            <img
            src="./img/john_smith.jpg"
            alt="Barber"
            width="370"
            height="346"
            />
            <h3 class="team-barber-name">John Smith</h3>
            <p class="team-barber-desc">Extreme Barber</p>
            <ul class="team-barber-social list">
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-twitter"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
                </a>
            </li>
            </ul>
        </li>
        <li class="team-item">
            <img
            src="./img/michele_doe.jpg"
            alt="Barber"
            width="370"
            height="346"
            />
            <h3 class="team-barber-name">Michele Doe</h3>
            <p class="team-barber-desc">Extreme Barber</p>
            <ul class="team-barber-social list">
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-twitter"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
                </a>
            </li>
            </ul>
        </li>
        <li class="team-item">
            <img
            src="./img/alan_black.jpg"
            alt="Barber"
            width="370"
            height="346"
            />
            <h3 class="team-barber-name">Alan Black</h3>
            <p class="team-barber-desc">Extreme Barber</p>
            <ul class="team-barber-social list">
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-twitter"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
                </a>
            </li>
            <li class="team-barber-social-item">
                <a class="team-barber-social-link" href="">
                <svg class="team-barber-social-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
                </a>
            </li>
            </ul>
        </li>
        </ul>
    </div>
    </section>