/* -------- Footer ----------*/
.footer {
  padding: 56px 0;
  background-color: teal;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-item {
}
.footer-link {
  padding: 20px 0;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-link:is(:hover, :focus) {
  color: #ff6c00;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}